.vscode
.idea
/node_modules
/dist
/coverage
/tools/mixer-diagnostics/_last-language-base-clusters-utf8.txt
/tools/mixer-diagnostics/_last-language-base-clusters.txt
/tools/mixer-diagnostics/_report-language-mixer-base-clusters.txt
/mods
/pdf_splitter